.App {
    font-family: sans-serif;
    text-align: center;
}
.App-logo {
    height: 5vmin;
    pointer-events: none;
}
.App-header {
    position: relative;
        margin:auto;
    background-color: coral;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: white;
    font-size: calc(10px + 2vmin);
    overflow:hidden;
}
.App-button {
    flex-direction: column;
    
    position:static;
    margin: auto;
    margin-top: 150px;
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
    outline: 20px;
    outline-color:rgb(144, 105, 203);
    outline-style: solid;
    border-radius: 2px;
    background: rgb(144, 105, 203);
}

.App-divider{
    border-top: 3px solid #fff;
}

.App-socials {
    position: absolute;
    margin-left:calc(10% + 10px);
    border-radius: 10px;

}

.Twitter:hover {
    background:rgb(0, 0, 0)
}
.Twitter{
    background: rgb(144, 105, 203);
    color: white;
}